#parallax-container {
  position: relative;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

#layer1,
#layer2 {
  /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  position: absolute;
  scale: 175%;
  animation: floatAnimation 3s ease-in-out infinite;
}

#layer1 {
  z-index: 1;
  top: 94%;
  left: 4%;
}

#layer2 {
  z-index: 1;
  top: 1%;
  left: 93.5%;
}

/*
#layer2 {
  z-index: 1;
  top: 4%;
  left: 70%;
}
*/

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
